name: sirbituu
description: AI Music Studio Afaan Oromoof
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2

  provider: ^6.0.5

  audioplayers: ^5.2.1

  record: ^5.0.4

  share_plus: ^7.2.1

  permission_handler: ^10.4.5

  path_provider: ^2.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
